:root {
    --body: hsl(0, 0%, 100%);
    --main: hsl(225, 100%, 98%);
    --card: hsl(227, 47%, 96%);
    --detalhe: hsl(228, 12%, 44%);
    --texto: hsl(230, 17%, 14%);
}

.escuro {
    --body: hsl(230, 17%, 14%);
    --main: hsl(232, 19%, 15%);
    --card: hsl(228, 28%, 20%);
    --detalhe: hsl(228, 34%, 66%);
    --texto: hsl(0, 0%, 100%);
}